<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkmind.partydrinkingcards">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/drinkingstone2_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/drinkingstone2_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

    <activity android:name=".Caution"
        android:noHistory="true"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name=".Options"
        android:screenOrientation="portrait"/>
    <activity android:name=".PlayerEditor"
        android:screenOrientation="portrait"/>
    <activity android:name=".Game"
        android:screenOrientation="portrait"/>
    <activity android:name=".GameMenu"
        android:screenOrientation="portrait"/>
    <activity android:name=".StartMenu"
        android:screenOrientation="portrait"/>
    <activity android:name=".StriderXRintro"
        android:screenOrientation="portrait"
        android:noHistory="true"/>
    <service android:name=".BackgroundSoundService"/>

    </application>

</manifest>
